body.colored_bg {
	/* font-family: sans-serif;
	overflow: hidden; */
	background-image: url("../image/star_sky.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.opac_bg {
	background-color: rgb(255,255,255); opacity: 0.5;
}


.block {
	border-style: solid;
	
	border-color: darkgrey;
	background-color: white;

	border-width: 2px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 5px;

	border-top: 1px solid grey;
}

.block .subblock {
	font-size: 150%;
	text-align: left;
	border-bottom: 1px dotted grey;
	margin-left: auto;
    margin-right: auto;
}

.block .scoreboard {
	font-size: 100%;
}

.my_btn_primary {
	margin: 1px;
	background-color: black;
	color: white;
	border: none;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 4px;
}

.navbar {
	background-color: black;
}

.whitetext {
	color: white;	
}

.largertext {
	font-size: 200%;
}

.normaltext {
	font-size: 120%;
	color: black;
}
.smalltext {
	font-size: 100%;
	color: black;	
}
.titletext {
	font-weight: bold;
	font-size: 150%;
	color:black ;
}
.boldtext {
	font-size: 120%;
	font-weight: bold;
	color:black;
}

.btn {
	margin: 1px;
	background-color: black;
	color: white;
	border: none;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 4px;

}

th, td {
    padding: 5px;
}

.w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
}
.w3-allerta {
	font-family: "Allerta Stencil", Sans-serif;
}
.w3-lobster {
    font-family: "Lobster", serif;
}
