<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Login page{% endblock %}</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
		
		{% load static %}
		<!-- Bootstrap core CSS-->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/pingpong.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/example.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/w3s.css' %}" type="text/css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
		
		<!-- Javascript files needed -->
		<script src="{% static 'js/popper.min.js' %}"></script>
 		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>


	</head>

	<body>
		
			<nav class="navbar navbar-expand-sm  w3-bar w3-black">
				<ul class="navbar-nav">
				<li class="nav-item">
					<a class="navbar-brand whitetext largertext" href="{% url 'main' %}">PingPong Game</a>
				</li>
				</ul> 
				<a class="w3-bar-item"></a>
				<a class="w3-bar-item"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>	
				<div class="collapse navbar-collapse ">	
					{% block navbar %}
					{% endblock %}
				</div>
			</nav>
		<div class="container">	
			{% block bodycontent %}					
			{% endblock %}
			
		</div>	


	{% block scripts %}
	
	{% endblock %}	
	</body>
</html>