{% extends "Base.html" %}

{% block title %}Game Room{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/timeout.js' %}"></script>
    <script src="{% static 'js/p2.js' %}"></script>
    <script src="{% static 'js/stage.web.js' %}"></script>
    <script src="{% static 'js/stage-p2.js' %}"></script>
    <script src="{% static 'js/example.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/texture.js' %}"></script>
    
    <script src="{% static 'js/game_room.js' %}"></script>
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link w3-text-white w3-large w3-myfont" href="{% url 'main' %}"><b>My Lobby</b></a>
		</li>
	</ul>	
	<a class="w3-bar-item"></a>
	<a class="w3-bar-item"></a>
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link  w3-text-white w3-large w3-myfont" href="{% url 'scoreboard' %}"><b>View Scoreboard</b></a>
		</li>
	</ul>

	<ul class="navbar-nav ml-auto">
		<li class="nav-item ">
			<a class="nav-link  w3-text-white w3-large w3-myfont" href="{% url 'logout' %}"><b>Log Out</b></a>
		</li>					
	</ul>	
{% endblock %}

{% block bodycontent %}
    <div class="row">
		<div class="col-md-3">
            <br>
            <div class="w3-myfont w3-xlarge w3-card"><b>Your game room id: {{game}}</b> </div>
            <br><br>
            <div class="w3-card w3-container w3-myfont">
                <div class="w3-myfont w3-xlarge"> 
                    <b>Your information:</b>
                    <div class="w3-myfont w3-large" id="you"></div>
                </div>
                <br><br>
                <button class = 'w3-button w3-black' id = "ready_but"></button><br><br>
            </div>            
            <br>
            <br>
        </div>
        
        <div class="col-md-6">

            <class class="loading" style="z-index: -1;">Loading...</class>

        </div>
        
        <div class="col-md-3">
            <br>
            <div class="w3-card w3-container w3-myfont">
                    <div class="w3-myfont w3-xlarge"> 
                        <p> <b>Opponent:</b></p>
                        <div  class="w3-myfont w3-large" id="opponent">
                        </div>
                    </div>
                </div>             
                
        </div>
    </div>


{% endblock %}