{% extends "Base.html" %}


{% block title %}Game Room{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/timeout.js' %}"></script>
    <script src="{% static 'js/p2.js' %}"></script>
    <script src="{% static 'js/stage.web.js' %}"></script>
    <script src="{% static 'js/stage-p2.js' %}"></script>
    <script src="{% static 'js/example.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/texture.js' %}"></script>
    
    <script src="{% static 'js/game_room.js' %}"></script>
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link whitetext" href="{% url 'logout' %}"><h5>Log Out</h5></a>
        </li>                   
    </ul>
    
{% endblock %}

{% block bodycontent %}
    <input type='hidden' id='player' value="{{player}}">
    <input type='hidden' id='game' value="{{game}}">
    <div class="row">
		<div class="col-3">
            <span class="boldtext">Your game room id is:</span>
            <span class="normaltext">{{game}}</span>
            <br>
            <br>
 
            <br><br>
            <p class="boldtext">Player 1</p>
            <div class="normaltext" id="creator">
                <div></div>
            </div>
            <p class="boldtext"> Player 2</p>
            <div class="normaltext" id="opponent">
                <div></div>
            </div>

            <br><br>
            <button id = "ready_but"></button>
        </div>
        
        <div class="col-9">

            <class class="loading" style="z-index: -1;">Loading...</class>

        </div>

    </div>


{% endblock %}