{% extends "Base.html" %}

{% block title %}Login page{% endblock %}

{% block navbar %}

{% endblock %}

{% block bodycontent %}
	<div class="row">
		<div class="col-sm-3"> </div>
		<div class="col-sm-6 normaltext"> 
			<br>
			<span class="w3-xxxlarge w3-myfont">Welcome to Ping Pong Game !</span>
			<br><br>
			{% if form.errors %}
			<p class="alert">Incorrect username or password</p>
			{% endif %}				
			<form class="container normaltext w3-card-2" action="{% url 'login' %}" method="post" class="form-signin">
				<br>

				<div class="text-center">
					{% for field in form.visible_fields %}
					<label>{{field.label_tag}}</label>
					{{field}}<br>
					<td class="alert">{{field.errors}}</td>
					{% endfor %}
					<button type="submit" class="btn w3-button w3-black">Login</button>	
				</div>						
				
				<input type="hidden" name="next" value="{{next}}" />
				{% csrf_token %}
				<br>
			</form>
			<br>
			<a class="w3-myfont" href="{% url 'registration' %}">Don't have an account? Register one !</a>	
			<br>
		</div>
		<div class="col-sm-3"> </div>
	</div>


{% endblock %}
