{% extends "Base.html" %}

{% block title %}Login page{% endblock %}

{% block navbar %}

{% endblock %}

{% block bodycontent %}
	<div class="row">
		<div class="col-sm-3"> </div>
		<div class="col-sm-6 normaltext"> 
			<br>
			<span class="largertext">Welcome to Ping Pong Game !</span>
			<br><br>
			{% if form.errors %}
			<p class="alert">Incorrect username or password</p>
			{% endif %}				
			<form class="normaltext" action="{% url 'login' %}" method="post" class="form-signin">
				<table>
					{% for field in form.visible_fields %}
					<tr>
						<td>{{field.label_tag}}</td>
						<td>{{field}}</td>
						<td class="alert">{{field.errors}}</td>
					</tr>
					{% endfor %}						
				</table>
				<button type="submit" class="btn">Login</button>	
				<input type="hidden" name="next" value="{{next}}" />
				{% csrf_token %}
			</form>
			<br>
			<a class="smalltext" href="{% url 'registration' %}">Don't have an account? Register one !</a>	
			<br>
		</div>
		<div class="col-sm-3"> </div>
	</div>


{% endblock %}
