{% extends "Base.html" %}

{% block title %}Registration page{% endblock %}

{% block navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link whitetext" href="{% url 'login' %}"><h5>Log in</h5></a>
        </li>                   
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link whitetext" href="{% url 'logout' %}"><h5>Log Out</h5></a>
        </li>                   
    </ul>
{% endblock %}

{% block bodycontent %}
<div class="container-fluid">
		<div class="row">
				<div class="col-sm-3"> </div>
				<div class="col-sm-6"> 
					<br><br>
					<form  class="form-signin normaltext w3-myfont w3-card-2" enctype="multipart/form-data" action="{% url 'registration' %}" method="POST">
						{% for error in user_form.non_field_errors %}
							<p class="alert">{{error}}</p>
						{% endfor %}
						{% for error in password_form.non_field_errors %}
							<p class="alert">{{error}}</p>
						{% endfor %}
						{% for error in player_form.non_field_errors %}
							<p class="alert">{{error}}</p>
						{% endfor %}
						<br>
						<table>
							{% for field in user_form.visible_fields %}
							<tr>
							  <td>{{field.label_tag}}</td>
							  <td>{{field}}</td>
							  <td class="alert">{{field.errors}}</td>
							</tr>
							{% endfor %}
			
							{% for field in player_form.visible_fields %}
							<tr>
							  <td>{{field.label_tag}}</td>
							  <td>{{field}}</td>
							  <td class="alsert">{{field.errors}}</td>
							</tr>
							{% endfor %}
			
							{% for field in password_form.visible_fields %}
							<tr>
							  <td>{{field.label_tag}}</td>
							  <td>{{field}}</td>
							  <td class="alert">{{field.errors}}</td>
							</tr>
							{% endfor %}
								
						</table>
						<br>
						<button type="submit" class="btn w3-button w3-black">Register</button>		
						{% csrf_token %}	
						<br><br>
					</form>	
					<br>
					<a class="smalltext w3-myfont" href="{% url 'login'%}">
						Already have one? Sign in
					</a>
					<br>
				</div>
				<div class="col-sm-3"> </div>
				
			</div>
</div>

{% endblock %}
