{% extends "Base.html" %}

{% block title %}ScoreBoard page{% endblock %}

{% block navbar %}
{% endblock %}

{% block bodycontent %}
<div class="row">
	<div class="col-1"></div>
	<div class="col-3">
		<span class="boldtext">Nick Name:</span> <span class="normaltext">{{current_player.nickname}}</span><br>
		<span class="boldtext" >User Name:</span> <span class="normaltext">{{current_player.username}}</span><br>
	</div>
	<div class="col-7 block scoreboard">
		<span class="largertext">Score Board:</span> <br>
		<input id='latest_game', type='hidden' value = '-1'>
		<table id="scoreboard" class="normaltext" border="1">
			<thead>
				<tr>
					<th>Game Record ID</th>
					<th>Winner</th>
					<th>Created Time</th>
					<th>Completed Time</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>

	<div class="col-1"></div>
</div>
	

{% endblock %}

{% block scripts %}
	{% load static %}
	<script src="{% static 'js/score_board.js' %}"></script>
{% endblock %}