{% extends "Base.html" %}

{% block title %}User Main Page{% endblock %}

{% block navbar %}
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link w3-text-white w3-large w3-myfont" href="{% url 'main' %}"><b>My Lobby</b></a>
		</li>
	</ul>	
	<a class="w3-bar-item"></a>
	<a class="w3-bar-item"></a>
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link  w3-text-white w3-large w3-myfont" href="{% url 'scoreboard' %}"><b>View Scoreboard</b></a>
		</li>
	</ul>

	<ul class="navbar-nav ml-auto">
		<li class="nav-item ">
			<a class="nav-link  w3-text-white w3-large w3-myfont" href="{% url 'logout' %}"><b>Log Out</b></a>
		</li>					
	</ul>	
{% endblock %}

{% block body_head %}
<body class="colored_bg">
{% endblock %}

{% block bodycontent %}
	<div class="row">

		<div class="col-3">
			<div class="normaltext w3-panel w3-card-4 opac_bg">
				<br>
				<p><span class="boldtext ">User Name:</span> <span class="normaltext">{{user.username}}</span></p>
				<p><span class="boldtext ">First Name:</span> <span class="normaltext">{{user.first_name}}</span> </p>
				<p><span class="boldtext ">Last Name:</span> <span class="normaltext">{{user.last_name}}</span></p>
				<p><span class="boldtext ">Nick Name:</span> <span class="normaltext">{{player.nickname}}</span></p>
				<br>
			</div>
		</div>
		<div class="col-2"></div>
		<div class="col-5 w3-panel w3-card-4 opac_bg">
			<br>
			<span class="w3-xxlarge w3-myfont"> Start Play Your Game! </span>

			{% for error in errors %}
				<p class="alert">{{error}}</p>
			{% endfor %}
			
			<div class="w3-card w3-container opac_bg w3-hover-pale-green">
				<p class="w3-xlarge">Create your own room</p>
				<form method="get" action="{% url 'createRoom' %}">
					{% csrf_token %}
					<button class='btn w3-button w3-black' type="submit">Create</button>
				</form>
			</div>
			<br>
			<div class="w3-card w3-container opac_bg w3-hover-pale-yellow">
				<p class="w3-xlarge"> Randomly Join a room </p>
				<form method="get" action="{% url 'joinRoom' %}">
					{% csrf_token %}
					<button class='btn w3-button w3-black' type="submit">Shuffle</button>
				</form>
			</div>
			<br>
			<div class="w3-card w3-container opac_bg w3-hover-pale-red">
				<p class="w3-xlarge">Join a room given an ID</p>
				<form class="normaltext" method="post" action="{% url 'joinRoom' %}">
					{% csrf_token %}
					<table>
						{% for field in form.visible_fields %}
						<tr>
							<td class="smalltext">Game Id</td>
							<td class="col-xs-2">{{field}}</td>
							<td class="alert">{{field.errors}}</td>
						</tr>
						{% endfor %}						
					</table>
					<button class='btn w3-button w3-black' type="submit">Join</button>
				</form>
			</div>
		</div>

		<div class="col-2"></div>
	</div>

{% endblock %}
